
@model IEnumerable<MovieBlog.Models.MyBlog>


@{ ViewData["Title"] = "Home Page";
}

<header class="masthead" style="
        background-size: 100% 100%;
        height: 600px;
        background-image: url('assets/img/movie_time.jpg')">
</header>

@if (User.Identity.IsAuthenticated)
{


    @if (!Model.Any())
    {
        <div class="text-center">
            <h1 class="display-4">You don't have any content published yet!</h1>

        </div>
    }
    else
    {
        <table class="table" style="background-color: #cfdbd5">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Heading)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Heading)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>


                    </tr>
                }
            </tbody>
        </table>

    }
}
